@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 30.7 100% 95%;
    --foreground: 30.7 5% 0%;
    --card: 30.7 50% 90%;
    --card-foreground: 30.7 5% 10%;
    --popover: 30.7 100% 95%;
    --popover-foreground: 30.7 100% 0%;
    --primary: 30.7 97.2% 72.4%;
    --primary-foreground: 0 0% 0%;
    --secondary: 30.7 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: -7.300000000000001 30% 85%;
    --muted-foreground: 30.7 5% 35%;
    --accent: -7.300000000000001 30% 80%;
    --accent-foreground: 30.7 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 30.7 5% 90%;
    --border: 30.7 30% 50%;
    --input: 30.7 30% 18%;
    --ring: 30.7 97.2% 72.4%;
    --radius: 1rem;
  }
  .dark {
    --background: 30.7 50% 5%;
    --foreground: 30.7 5% 90%;
    --card: 30.7 50% 0%;
    --card-foreground: 30.7 5% 90%;
    --popover: 30.7 50% 5%;
    --popover-foreground: 30.7 5% 90%;
    --primary: 30.7 97.2% 72.4%;
    --primary-foreground: 0 0% 0%;
    --secondary: 30.7 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: -7.300000000000001 30% 15%;
    --muted-foreground: 30.7 5% 60%;
    --accent: -7.300000000000001 30% 15%;
    --accent-foreground: 30.7 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 30.7 5% 90%;
    --border: 30.7 30% 18%;
    --input: 30.7 30% 18%;
    --ring: 30.7 97.2% 72.4%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::-webkit-scrollbar {
  @apply w-2.5 h-2.5;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-border border-[1px] border-transparent border-solid bg-clip-padding;
}
